* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.5); /* Gruvbox dark bg with transparency */
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ebdbb2; /* foreground */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3c3836; /* Gruvbox dark gray */
}

window#waybar.chromium {
    background-color: #282828; /* Gruvbox base bg */
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2; /* foreground */
}

#pulseaudio:hover {
    background-color: #fabd2f; /* yellow */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #458588; /* blue */
    box-shadow: inset 0 -3px #ebdbb2;
}

#workspaces button.urgent {
    background-color: #fb4934; /* red */
}

#mode {
    background-color: #458588; /* blue */
    box-shadow: inset 0 -3px #ebdbb2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ebdbb2;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #458588; /* blue */
}

#battery {
    background-color: #ebdbb2; /* white */
    color: #282828; /* black */
}

#battery.charging, #battery.plugged {
    color: #ebdbb2;
    background-color: #b8bb26; /* green */
}

@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: #282828;
    }
}

#battery.critical:not(.charging) {
    background-color: #fb4934; /* red */
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    background-color: #fb4934;
    color: #ebdbb2;
}

#power-profiles-daemon.balanced {
    background-color: #458588;
    color: #ebdbb2;
}

#power-profiles-daemon.power-saver {
    background-color: #b8bb26;
    color: #282828;
}

#cpu {
    background-color: #b8bb26;
    color: #282828;
}

#memory {
    background-color: #d3869b;
}

#disk {
    background-color: #d65d0e;
}

#backlight {
    background-color: #83a598;
}

#network {
    background-color: #458588;
}

#network.disconnected {
    background-color: #fb4934;
}

#pulseaudio {
    background-color: #fabd2f;
    color: #282828;
}

#pulseaudio.muted {
    background-color: #928374;
    color: #282828;
}

#wireplumber {
    background-color: #ebdbb2;
    color: #282828;
}

#wireplumber.muted {
    background-color: #fb4934;
}

#custom-media {
    background-color: #8ec07c;
    color: #282828;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #8ec07c;
}

#custom-media.custom-vlc {
    background-color: #fabd2f;
}

#temperature {
    background-color: #fabd2f;
}

#temperature.critical {
    background-color: #fb4934;
}

#tray {
    background-color: #458588;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #fb4934;
}

#idle_inhibitor {
    background-color: #3c3836;
}

#idle_inhibitor.activated {
    background-color: #ebdbb2;
    color: #3c3836;
}

#mpd {
    background-color: #8ec07c;
    color: #282828;
}

#mpd.disconnected {
    background-color: #fb4934;
}

#mpd.stopped {
    background-color: #928374;
}

#mpd.paused {
    background-color: #b8bb26;
}

#language {
    background: #b16286;
    color: #fbf1c7;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #8ec07c;
    color: #282828;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy-item.screenshare {
    background-color: #fb4934;
}

#privacy-item.audio-in {
    background-color: #b8bb26;
}

#privacy-item.audio-out {
    background-color: #458588;
}

